.cartToFlex {
    margin-top: 30px ;
    display: flex;
    justify-content: center;
    color: #e8d4ec;
    font-size: 14px ;
}
.cartToFlex > div > a {
    text-decoration: none;
    margin-right: 30px;
    color: #e8d4ec;
    border-bottom: 0.5px white dashed;
}
.dataGroup {
    border-bottom:  0.5px white dashed ;
}
.imgToRadius {
    border-radius: 8px;
}
#textCart {
    position: absolute;
    bottom: 50%;
}
.postCart {
    position: relative;
    text-align: center;
}
.postCart:hover > div > img {
    filter: brightness(0.6);
    transition:all 1s ease-in-out ;
}

.textHeader {
    font-size: 35px ;

}
.textHeader > a {
    text-decoration: none;
    color: white;
}
.textHeader > a:hover {
    color: #beb4b4;
    transition: 0.5s ;
}